<div class="history">
  <span>
    Margarita is a Caribbean island of Venezuela, located at the Northeast of Caracas, the country's capital, 
    within a 35 minute flight, or a couple of hours by ferry from Puerto La Cruz or Cumana. It is one of the 
    most touristic places in Venezuela. We will show you why...

    Margarita is well known for the quality of its beaches. Being an island, it is surrounded by beaches, and 
    there is one for every taste. You can find a beach with or without waves, large or small, crowded or not, 
    deep or not, cold or warm, windy or not, just select what you want, and you've got it. To see more beaches, 
    and what to do there.

    Margarita is a great place to go around. Castles, churches, nature. Everything is close and going from one 
    place to another is usually a nice trip.
  </span>
</div>
