<div class="ui menu bottombar">
  <div class="item">
    <a href="https://www.facebook.com/295devops"> Fb. </a>
  </div>
  <div class="item">
    <a href="https://www.instagram.com/295devops/"> Ig. </a>
  </div>
  <div class="item">
    <a href="https://github.com/roxsross"> Gt. </a>
  </div>
  <div class="item">
    <a href="https://www.linkedin.com/in/roxsross/"> ln. </a>
  </div>
  <div class="right menu">
    <button class="ui primary basic button" style="box-shadow: 0 0 0 1px white inset!important;"> <a href="https://www.instagram.com/295devops"> 295DevOps </a></button>
  </div>
  <div class="right menu">
    <div class="item">
      <a href=""> by @RoxsRoss <i class="angle right icon"></i></a>
    </div>
  </div>
</div>
