.home {
  position: absolute;
  top: 40%;
  left: 15%;
}

.explore {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-shadow: 3px 2px 9px black;
}

.florence {
  font-size: 12rem;
  text-transform: uppercase;
  text-shadow: 3px 2px 9px black;
}

.sub {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-shadow: 3px 2px 9px black;
}
